<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
    
  </head>

  <body>
    <header>
        <div class="logosCompras">
            <div class="logoBuscador">
                <img src="/images/logo-mercado-liebre.svg" class="logo" alt="" />
                <div class="buscador">
                  <input type="text" placeholder="Buscar Productos,Marcas.." /><i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>   
                
            <div class="comprasTarjeta">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Compras en cuotas y sin tarjeta de crédito</p> 
            </div>
        </div>
     
       
      <nav class="navBar">
        <ul class="listaSuperior"> 
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender </a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="listaInferior">
            <li><a href="../register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
            <li><a href="../login">Ingresá</a><i class="fa-solid fa-right-from-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </nav>
      <div class="menuHamburguesa"> 
        <button><i class="fa-solid fa-bars"></i></button>
      </div>
    </header>

    <img src="/images/img-home-banner.jpg" alt="banner">

    <main class="mainRegister"> 
        <h2 class="titulo">Ingresa a tu cuenta</h2>
        <form action="">
            <div class="itemForm">
                <label for="nombreUsuario">Nombre de usuari@:</label>
                <input class="itemFormInput" type="text" id="nombreUsuario" name="nombreUsuario">
            </div>
            <div class="itemForm">
                <label for="contraseña">Contraseña:</label>
                <input class="itemFormInput" type="password" id="contraseña" name="Contraseña">
            </div>
            <div class="botonForm">
                <input type="submit" value="Enviar" >
            </div>

        </form>
    
    </main>

    <footer>
        <div class="footerDiv">
            <div class="itemFooter"> 
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="itemFooter">
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="itemFooter">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
            
        </div>
    </footer>
  </body>
</html>
