
<form action="/registro" method="POST">
    <label for="usuario">Nombre:</label>
    <input type="text" name="usuario" id="usuario">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <label for="email">email:</label>
    <input type="email" name="email" id="email">

    <label for="tel">telefono:</label>
    <input type="tel" name="telefono"id= "telefono">

    <label for="number">number:</label>
    <input type="number" name="edad"id="edad">

    <label for="fecha de nacimiento">date</label>
    <input type="date" name="fecha de nacimiento"id="fecha de nacimiento>"

    <label for="categoria de interes">categoria</label>
    <input type="categoria de interes" name="electro/moda/hogar/jugueteria/vida sana" id="categoria de interes">


</form>