*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif; /*tipo de letra*/
    background-color: #ebebed;
}

img{
    width: 100%;
}

p{
    font-size: 12px;
}

h2{
    font-size: 24px; /*tamaño de fuente*/
}

nav{
    display: none;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
    margin-bottom: 15px;
    width: 70%;
}

.precioDescuento{
    display: flex;
}

.mainIndex section .articulos i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }

.descripcion{
    font-size: 16px;
    color: #666;
}

header{
    background-color: #EAC926;
}

.logo{
    width: 50%;
    padding: 10px;
}

.buscador{
    margin-left: 10px;
}

.logoBuscador{
    display: flex;
    align-items: center;
}

.comprasTarjeta{
    text-align: center;
    padding: 10px 0px 10px 0px;
}


.listaSuperior{
    margin-bottom: 20px;
}

.menuHamburguesa{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menuHamburguesa button{
    padding: 8px 10px;
    background-color: #1259c3;
    border-radius: 5px;
    border: none;
}

.menuHamburguesa button i{
    color: white;
    font-size: 15px;
}

.footerDiv{
    text-align: center;
    padding: 20px;
}

.itemFooter{
    margin-bottom: 20px;
    color: #666;
}

.itemFooter i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.copyright{
    text-align: left;
    color: #666;
}

.mainIndex{
    width: 90%;
    margin: auto;
}

.articulos{
    margin: 10px 0;
    background-color: white;
}

.descripcionArticulo{
    border-top: 1px solid #ebebeb; 
    padding: 15px; 
    display: none;
    position: relative;
}

.descripcionArticulo i{
    color: #39b54a;
    margin-bottom: 15px;
}

@media(min-width:481px){
    .descripcionArticulo{
        display: block;
    }

    .navBar{
        display: flex;
        justify-content: space-between;
    }

    .listaSuperior{
        display: flex;
    }

    .listaSuperior a, .listaInferior a{
        text-decoration: none;
        color: black;
    }

    .listaSuperior li, .listaInferior li{
        list-style: none;
        padding: 5px;
    }

    .listaInferior{
        display: flex;
    }

    .logosCompras{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .todosLosArticulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);  
        width: 45%;  
        margin: auto;
    }
    nav{
        display: block;
    }
    .menuHamburguesa{
        display: none;
    }

}

@media(min-width:769px){
    .articulos{
        width: 20%;
    }
    
}